---
key_type: rsa
key_size: 2048
random_files:
- /home/downloads
key_file: certs/server.pem
req_file: certs/req_server.pem
# for outputing self-signed certificate
#req_type: x509
cert_descriptions:
  O: Osaka University
  OU: Cybermedia Center
  CN: server.osaka-u.ac.jp
# for debug messages (!!UNSECURE!! password will be displayed)
#debug: true
